body {
    background-color: #fff7ec;
    /*font-family: UbuntuRegular;*/
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: UbuntuRegular;*/
}

.top-bar, .contain-to-grid {
    background-color: #c6a37d;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #c6a37d;
}

.top-bar-section li:not(.has-form) a:hover:not(.button) {
    background-color: #9b59b6;
}

.top-bar-section ul li > a {
    background-color: #34495e;
    color: #ecf0f1;
    /*font-family: UbuntuRegular;*/
}

p {
    margin-bottom: 15px;
}

#modal-oeil-box {
    background-image: url("../img/moz-oeil-std.png");
    cursor: pointer;
    text-align: center;
    padding-top: 70px;
}

#modal-oeil-box > p {
    display: none;
}

#modal-oeil-box:hover {
    background-image: url("../img/moz-oeil-hover.png");

}

#modal-oeil-box:hover > p {
    display: block;
}


#accueil {

    background-position: bottom left;
    background-image: url("../img/bg-accueil.png");
    background-repeat: no-repeat;
}


#restauration {
    background-position: top right;
    background-image: url("../img/bg-restauration.png");
    background-repeat: no-repeat;
}


#conservation, #conservation h1 {
    background-color: #c6a37d;
    color: #ecf0f1;
}

#contact, #contact h1, #contact h3 {
    background-color: #bdc3c7;
    color: #7f8c8d;
}

#travaux {
    background-color: #2c3e50;
}

/* Mosaique */

.mosaic-box-clouds {
    height: 300px;
    margin: 0;
    padding: 0;
}

.mosaic-box-clouds > div.row {
    height: 150px;
}

.mosaic-box-clouds > div.row > div {
    color: #ecf0f1;
    padding: 0;
    margin: 0;
}

.box150 {
    width: 150px;
    height: 150px;
}

.box75 {
    width: 75px;
    height: 75px;
}

/* Palette */
.turquoise {
    background-color: #1abc9c;
}

.emerald {
    background-color: #2ecc71;
}

.green-sea {
    background-color: #16a085;
}

.belize {
    background-color: #2980b9;
}

.amethyst {
    background-color: #9b59b6;
}

.wisteria {
    background-color: #8e44ad;
}

.clouds {
    background-color: #ecf0f1;
}

.silver {
    background-color: #bdc3c7;
}

.asbestos {
    background-color: #7f8c8d;
}

.sun-flower {
    background-color: #f1c40f;
}

.carrot {
    background-color: #e67e22;
}

.alizarin {
    background-color: #e74c3c;
}

.river {
    background-color: #3498db;
}

.pomegranate {
    background-color: #c0392b;
}

.nephritis {
    background-color: #27ae60;
}

.asphalt {
    background-color: #34495e;
}

.concrete {
    background-color: #95a5a6;
}

.midnight-blue {
    background-color: #2c3e50;
}

.orange {
    background-color: #f39c12;
}

.pumpkins {
    background-color: #d35400;
}

.list-title {
    font-weight: bold;
}