<center>

<h1>Votre navigateur est obsolète.</h1>

<p>
Nous sommes navrés de vous informer que ce site est réservé aux
utilisateurs de Internet Explorer 9 ou plus, et autres navigateurs
modernes.
</p>

<p>
<a href="http://blogs.technet.com/b/msrc/archive/2013/05/03/microsoft-releases-security-advisory-2847140.aspx">Avertissement
 de sécurité aux utilisateurs d'Internet Explorer < 9</a>
<p>

<p>Nous vous invitons à mettre à jour votre version d'Internet
  Explorer<br>
ou à utiliser un autre navigateur plus moderne :</p>

<a href="https://www.mozilla.org/fr/firefox/new/">Firefox</a>
- <a href="https://www.google.fr/chrome/browser/">Chrome</a>
- <a href="http://www.opera.com/fr">Opera</a>

</center>
