<head>
    <meta charset=UTF-8>
    <title>{{$headline}}$headline{{/headline}}</title>

    <link rel="stylesheet" href="css/foundation.min.css"/>

    <script src="js/vendor/modernizr.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Cardo:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Neuton:400,200,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cinzel:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/base.css" type="text/css">
    <link rel="stylesheet" href="slick/slick.css" type="text/css" />
</head>