<!DOCTYPE html>
<html lang="en">
{{>shared/head}}
<body>

<!--[if (IE)&(lt IE 9)]>
{{>shared/browser_alert}}
<![endif]-->

<![if (!IE)&(gte IE 9)]>
{{>shared/header}}
{{>shared/nav}}
<section id="main">
    <div class="row">
        <div class="large-12 columns">
            <h2 class="page-headline">{{$headline}}$headline{{/headline}}</h2>
            <div class="page-content">
                {{$body}}$body{{/body}}
            </div>
        </div>
    </div>
</section>

{{>shared/footer}}
<script src="js/rem.min.js"></script>

<script src="js/vendor/jquery-1.11.1.min.js"></script>
<script src="js/foundation.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script>
    $(document).foundation();
    $(document).ready(function(){
        $('.galerie').slick({
            infinite:true,
            autoplay: true,
            autoplaySpeed: 2500,
            speed: 1000
        });
    });
</script>
<![endif]>

</body>
</html>
